.css{
    background-image: url('https://www.google.com/url?sa=i&url=https%3A%2F%2Fwww.usatoday.com%2Fstory%2Ftravel%2Fhotels%2F2014%2F08%2F14%2Fhotel-booking-tips%2F14006883%2F&psig=AOvVaw1U6KQrae4CJ6eIQebmOwDX&ust=1671509187427000&source=images&cd=vfe&ved=0CBAQjRxqFwoTCIjK2arnhPwCFQAAAAAdAAAAABAE');
}
.formcenter{
 width: 360px;
 margin-left: 139px;
}

.dont{
 size: a5;
    width: 154px;
    margin-top: 10px;
}

.backbody{
 background-color: black;
 height: 1000px;

}

.labelt
{
 color: azure;
}

.btncls
{
 background-color: slategrey;
 width: 360px;
 margin-top: 8px;
 border-radius: 6px;
 height: 39px;
 color: black;

}




